body {
    background: #2c2c2c;
    min_height: 100vh;
    background-image: url(https://avatars.mds.yandex.net/i?id=5d22359fdd3ac5a2cd4400cd0069be8d_l-9213890-images-thumbs&n=13);

}

aside {
    float: top;
    background: #181818;
    width: 30%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-down: 5px solid #4d4d4d;
}


.wrapper {
    min_height: 100vh;
    width: 100%
    background-image: url(images/photo_2024-12-08_18-12-53.jpg);
}

.sideMargin {
    margin: 0 30px;
}

mt-5 {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: black;
    text-align: center;
}
