{% extends 'object_detection/base.html' %}


{% block content%}
    <div class="container">
        <h1 class="mt-5">Object detection platform</h1>
            <style>
                .mt-5{
                    height: 30vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 3rem;
                    color: white;
                    text-align: center;
                }
            </style>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Process automation</h5>
                    <p class="card-text">reduction of manual labor</p>
                    <p class="card-text"><small class="text-muted">for example, in production processes or inspections</small></p>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Improved accuracy and reliability</h5>
                    <p class="card-text">Снижение ошибок</p>
                    <p class="card-text"><small class="text-muted">this reduces the likelihood of errors, for example, in areas such as medicine or security</small></p>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Development of new technologies</h5>
                    <p class="card-text">innovation</p>
                    <p class="card-text"><small class="text-muted">for example, to develop new technologies and applications such as (AR) or (VR)</small></p>
                </div>
            </div>

    </div>
{%endblock%}
